<div class="row section partners topspace">
    <h2 class="section-title"><span>Community partners</span></h2>
    <div class="col-lg-4">
        <p class="text-center">
            <a href="https://www.meetup.com/IoT-Zurich/" target="_blank">
                <img src="images/partners/logo-iotzh.png" alt="IoT Zurich: Meetup group">
            </a>
        </p>
    </div>
    <div class="col-lg-4">
        <p class="text-center">
            <a href="https://opendata.ch/" target="_blank">
                <img src="images/partners/logo-opendatach.png" alt="opendata.ch">
            </a>
        </p>
    </div>
    <div class="col-lg-4">
        <p class="text-center">
            <a href="https://www.ch-open.ch/" target="_blank">
                <img src="images/partners/logo-chopen.png" alt="CH Open">
            </a>
        </p>
    </div>
</div>
<div class="row section partners">
    <div class="col-lg-4">
        <p class="text-center">
            <a href="https://www.womenplusplus.ch/" target="_blank">
                <img src="images/partners/logo-womenplusplus.png" alt="women++">
            </a>
        </p>
    </div>
</div> <!-- /section -->
