<div class="row section topspace">
    <div class="col-md-12">
        <p class="text-center">
            Yay! 🚀 The association was awarded in the category
            <a href="https://dinacon.ch/dinacon-awards/vergangene-awards/ch-open-source-awards-2017/" target="_blank">
                <b>Open Internet</b></a>
            <i class="fa fa-external-link"></i> during the first edition of
            <a href="https://dinacon.ch/" target="_blank">DINAcon</a>
            <i class="fa fa-external-link"></i>, the conference for digital sustainability!
        </p>
        <p><figure class="text-center">
            <img src="images/dinacon_award_community.jpg" alt="DINACon Award: Open Internet"><br>
            <figcaption>Photo by <a href="https://twitter.com/gnz" target="_blank">@gnz</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA</a>:
                Open Internet award in the center of the picture and several members of the association
                during a General Assembly, 17.11.2017.</figcaption>
        </figure></p>
    </div>
</div>
